<form class="form-inline mb-5" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="form-group col-8 pl-0">
    <input class="form-control mt-3 col"
           id="city"
           name="city"
           placeholder="City"
           type="text"
           formControlName="cityControl"
           required>
  </div>
  <button class="btn-search btn btn-primary mt-3 col-4" type="submit" [disabled]="searchForm.invalid">Search</button>
</form>

<div *ngIf="error" class="error alert alert-danger">
  Error. Please try again.
</div>
